@page "/counter"

<div class="row">
    <div class="col-12">
        <h2>Counter</h2>
       
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
